.slogan{
    text-align: left;
    color: white;
    font-family: 'EB Garamond', serif;
}

.navbar{
    margin-bottom: 15px;
    color: white;
}

.dropdown{
    position: relative;
}

.dropdownMenu{
    position: absolute;
    right: 0;
}